
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h3>
    @ViewBag.error
</h3>

@if (@ViewBag.returnUrl!=null)
{
    <a href="@ViewBag.returnUrl">Back Page</a>
}
else
{
    <a asp-action="Index" asp-controller="Home">Back Home</a>    
}

