@model Application.Dtos.TransactionDtos.CreateTransactionDtos

@{
    ViewData["Title"] = "TransactionAmount";
}

<h1>TransactionAmount</h1>

<h4>CreateTransactionDtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TransactionAmount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelfAccountId" class="control-label"></label>
                <input asp-for="SelfAccountId" class="form-control" />
                <span asp-validation-for="SelfAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthersAccountId" class="control-label"></label>
                <input asp-for="OthersAccountId" class="form-control" />
                <span asp-validation-for="OthersAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCurrency" class="control-label"></label>
                <input asp-for="FromCurrency" class="form-control" />
                <span asp-validation-for="FromCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToCurrency" class="control-label"></label>
                <input asp-for="ToCurrency" class="form-control" />
                <span asp-validation-for="ToCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
