@model Application.Dtos.CurrencyDtos.UpdateRateDtos

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>UpdateRateDtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExchangeRateId" class="control-label"></label>
                <input type="hidden" readonly="" asp-for="ExchangeRateId" class="form-control" />
                <span asp-validation-for="ExchangeRateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCurrency" class="control-label"></label>
                <input readonly="readonly"  asp-for="FromCurrency" class="form-control" />
                <span asp-validation-for="FromCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToCurrency" class="control-label"></label>
                <input readonly="readonly" asp-for="ToCurrency" class="form-control" />
                <span asp-validation-for="ToCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
