@using Microsoft.AspNetCore.Identity
@using Application.Statics
@model Application.Dtos.OthersAccountDto.CreateOtherAccountViewModel

@{
    ViewData["Title"] = "CreateOthersBankAccount";
}

<h1>CreateOthersBankAccount</h1>

<h4>CreateOtherAccountViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOthersBankAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@User.GetUserId()" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" class="form-control" asp-items="@ViewBag.currency"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartNumber" class="control-label"></label>
                <input asp-for="CartNumber" class="form-control" />
                <span asp-validation-for="CartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
